body div.main-content {
  width: 80%;
  margin-top: -100px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: white;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2); }
  body div.main-content:after {
    content: "";
    display: table;
    clear: both; }
  body div.main-content div.category-selection {
    direction: rtl;
    text-align: center;
    background-color: #efefef;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px; }
    body div.main-content div.category-selection div.category {
      display: inline-block;
      line-height: 50px;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 10px;
      padding-bottom: 10px; }
      body div.main-content div.category-selection div.category:hover {
        background-color: rgba(0, 0, 0, 0.1);
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px; }
  body div.main-content div.post-wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 90%; }
    body div.main-content div.post-wrapper div.post {
      width: 23%;
      margin-top: 5px;
      margin-bottom: 5px;
      margin-left: 5px;
      margin-right: 5px;
      float: right;
      direction: rtl;
      text-align: center;
      overflow: hidden;
      -moz-border-radius: 6px;
      -webkit-border-radius: 6px;
      border-radius: 6px;
      background-color: #F5F5F5; }
      body div.main-content div.post-wrapper div.post:hover {
        background-color: rgba(0, 0, 0, 0.1); }
      @media screen and (max-width: 1360px) {
        body div.main-content div.post-wrapper div.post {
          width: 31%; } }
      @media screen and (max-width: 720px) {
        body div.main-content div.post-wrapper div.post {
          width: 43%; } }
      @media screen and (max-width: 640px) {
        body div.main-content div.post-wrapper div.post {
          width: 98%; } }
      body div.main-content div.post-wrapper div.post a {
        text-decoration: none;
        color: black; }
        body div.main-content div.post-wrapper div.post a div.post-title {
          padding-top: 10px;
          padding-bottom: 10px; }
        body div.main-content div.post-wrapper div.post a div.post-thumb {
          margin-left: auto;
          margin-right: auto;
          -webkit-filter: blur(3px);
          filter: blur(3px); }
          body div.main-content div.post-wrapper div.post a div.post-thumb:hover {
            -webkit-filter: blur(0);
            filter: blur(0); }
          body div.main-content div.post-wrapper div.post a div.post-thumb img {
            -moz-border-radius: 6px;
            -webkit-border-radius: 6px;
            border-radius: 6px;
            width: 95%; }
          @media screen and (max-width: 640px) {
            body div.main-content div.post-wrapper div.post a div.post-thumb {
              width: 80%; } }
        body div.main-content div.post-wrapper div.post a div.post-details {
          direction: rtl;
          text-align: right; }
          body div.main-content div.post-wrapper div.post a div.post-details div.post-details-author img.author-pic {
            width: 25%;
            float: right;
            margin-right: 10px;
            margin-left: 10px;
            margin-bottom: 10px;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%; }

/*# sourceMappingURL=blog.css.map */
